<!-- public/partials/contato.html -->
<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <div class="page-header">
                <h1>Contatooh <small>Ajuda</small></h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <a href="/#!/contatos" class="btn btn-default">Voltar</a>
        <p>O aplicativo "contatooh" gerencia uma listagem de contatos com Nome, email e telefone. Na página inicial você encontra a lista de contatos e também a quantidade de contatos cadastrados na lista logo abaixo dos botões "Novo Contato" e "Ajuda".</p>
        <p>O aplicativo contatooh permite o cadastro de infinitos contatos. Para cadastrar um novo contato clique no botão "Novo contato" e em seguida preencha os campos requeridos no formulário. Após preencher os campos clique no botão "Salvar", uma mensagem de confirmação irá aparecer no topo da página. Para retornar a página inicial clique no botão "Voltar".</p>
        <p>Caso queira editar um contato existente proceda da seguinte maneira: ná página inicial clique no link com o "Nome" do contato que está na primeira coluna da tabela destacado em azul; no formulário que será aberto altere os dados e clique no botão "Salvar"uma mensagem de confirmação irá aparecer no topo da página. Para retornar a página inicial clique no botão "Voltar".</p>
        <p>Para localizar um contato cadastrado digite parte do nome no campo de "pesquisa" localizado ao lado do botão "Ajuda" antes da lista de contatos. O aplicativo irá filtrar os contatos que contém o texto digitado listará imediatamente.</p>
        <p>Para excluir um contato clique no botão "Remover" correspondente ao mesmo na última coluna da listagem. O contato será removido imediatamente sem qualquer mensagem de confirmação.</p>
    </div>
</div>
